In [3]:
import numpy as np
import pandas as pd
df=pd.read_csv('test.csv')
df

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Package Weight,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area
0,0,"Single Male with four children, education: par...",B06ls_CA,"Candy from Snacks department, Ordered Brand : ...","['Florist', 'Ready Food', 'Video Store', 'Bar ...",Fantastic Discounts,Gourmet,11.76 Millions,4.704 Millions,31.8337,28.7811,3.0525,yes,50K+,2201.06,1424.85,465.54,308.73
1,1,"Married Female with three children, education:...",S01em_OR,"Vegetables from Frozen Foods department, Order...","['Florist', 'Coffee Bar', 'Ready Food', 'Bar F...",Bag Stuffer,Deluxe,2.16 Millions,0.6696 Millions,29.9440,27.0368,2.9072,no,70K+,2577.16,1735.17,505.07,336.59
2,2,"Single Female with three children, education: ...",H11go_ZA,"Dairy from Dairy department, Ordered Brand : Club","['Bar For Salad', 'Video Store', 'Ready Food',...",Pick Your Savings,Deluxe,1.83 Millions,0.8235 Millions,29.2172,26.3100,2.9072,no,130K+,2837.58,2038.11,481.98,321.26
3,3,"Single Male with three children, education: pa...",M10da_YU,"Frozen Desserts from Frozen Foods department, ...","['Coffee Bar', 'Video Store', 'Bar For Salad',...",Price Winners,Deluxe,8.82 Millions,4.41 Millions,28.0543,25.0018,3.0525,no,10K+,2859.04,1871.16,593.93,394.58
4,4,"Single Male with two children, education: high...",L05es_CA,"Hot Beverages from Beverages department, Order...",['Florist'],Dollar Days,Supermarket,4.32 Millions,1.9872 Millions,23.5482,20.6410,2.9072,no,30K+,2193.97,1320.15,523.32,348.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19937,19937,"Married Female with two children, education: p...",H11go_ZA,"Canned Clams from Canned Foods department, Ord...","['Florist', 'Bar For Salad', 'Ready Food', 'Co...",Two for One,Deluxe,4.46 Millions,1.9624 Millions,11.1200,8.2128,2.9072,no,10K+,2839.33,2038.11,481.98,321.26
19938,19938,"Married Female with one child, education: part...",S03le_WA,"Bread from Baked Goods department, Ordered Bra...",['Coffee Bar'],Best Price Savers,Supermarket,3.81 Millions,1.3335 Millions,20.6410,17.5885,3.0525,no,10K+,1970.94,NaN,440.92,295.66
19939,19939,"Married Female with five children, education: ...",G16ra_JA,"Baking Goods from Baking Goods department, Ord...",['Coffee Bar'],Best Savings,Small Grocery,2.14 Millions,0.749 Millions,23.1121,20.0596,3.0525,yes,50K+,2288.65,1394.66,534.29,355.98
19940,19940,"Single Male with one child, education: graduat...",S01em_OR,"Specialty from Produce department, Ordered Bra...","['Ready Food', 'Florist', 'Video Store', 'Bar ...",Bag Stuffer,Deluxe,3.52 Millions,1.1616 Millions,16.2802,13.3585,2.9217,yes,70K+,2572.86,1734.50,503.07,335.38
19941,19941,"Married Female with two children, education: h...",T02ma_WA,"Electrical from Household department, Ordered ...","['Ready Food', 'Bar For Salad', 'Florist', 'Co...",Super Duper Savers,Deluxe,4.62 Millions,1.6632 Millions,30.2347,27.1822,3.0525,no,30K+,3145.51,2054.28,654.13,436.09

# df.info()

In [5]:
df.describe()

,Unnamed: 0,Gross Weight,Net Weight,Package Weight,Store Area,Grocery Area,Frozen Area,Meat Area
count,19942.00000,18959.000000,18924.000000,19942.000000,18946.000000,18900.000000,18981.000000,18967.000000
mean,9970.50000,20.081932,17.185442,2.921236,2602.295714,1780.441371,494.490102,329.654561
std,5756.90387,6.712775,6.800127,1.014127,532.042036,371.638284,147.539135,98.284822
min,0.00000,8.721600,4.433500,1.453600,1882.700000,1233.080000,227.800000,149.900000
25%,4985.25000,14.114400,11.294400,1.599000,2189.290000,1508.000000,440.920000,293.405000
50%,9970.50000,19.768900,16.861700,2.907200,2572.860000,1734.500000,470.270000,313.550000
75%,14955.75000,25.874000,23.257500,3.052500,2865.170000,2054.085000,593.930000,394.215000
max,19941.00000,31.833700,30.234700,4.506100,3692.880000,2822.670000,855.220000,570.750000

In [6]:
df.shape

(19942, 18)

In [7]:
df.rename(columns={'Unnamed: 0':'Person_ID'},inplace=True)
df.set_index('Person_ID',inplace=True)

In [8]:
df['Person Description']

Person_ID
0        Single Male with four children, education: par...
1        Married Female with three children, education:...
2        Single Female with three children, education: ...
3        Single Male with three children, education: pa...
4        Single Male with two children, education: high...
                               ...
19937    Married Female with two children, education: p...
19938    Married Female with one child, education: part...
19939    Married Female with five children, education: ...
19940    Single Male with one child, education: graduat...
19941    Married Female with two children, education: h...
Name: Person Description, Length: 19942, dtype: object

In [9]:
pd.set_option('display.max_colwidth',None)

In [10]:
df.dtypes

Person Description                object
Place Code                        object
Customer Order                    object
Additional Features in market     object
Promotion Name                    object
Store Kind                        object
Store Sales                       object
Store Cost                        object
Gross Weight                     float64
Net Weight                       float64
Package Weight                   float64
Is Recyclable?                    object
Yearly Income                     object
Store Area                       float64
Grocery Area                     float64
Frozen Area                      float64
Meat Area                        float64
dtype: object

In [11]:
df['Promotion Name'].value_counts()

Promotion Name
Two Day Sale                774
Weekend Discount            761
Save Price                  711
Super Duper Savers          685
Price Winners               665
Save It (Sale)              650
One Day Sale                614
Super Savers                605
Sale : Double Down          577
Shelf Clearing Days         568
Full Free                   548
GLD                         521
Big Time Discounts          521
Go For It                   521
Roller Savings (High)       520
Money Savers                518
Two for One                 513
Price Slashers              512
Lottery Cash Registerion    502
Price Destroyers            474
Budget Bargains             456
Saving Days                 450
Promo Big                   409
Best Price Savers           403
Dimes Off                   400
Discount Frenzy             392
Price Cutters               374
Sales Days                  372
Bag Stuffer                 361
Three for One               356
Savings Galore              353
You Save Days               344
I Cant Believe It Sale      331
Best Savings                315
Sale Winners                307
Pick Your Savings           291
Tip Top Savings             267
Sale Sale Sale              266
Shelf Emptiers              261
Big Time Saving             252
Wallet Savers               208
Dollar Days                 174
Mystery Sale                159
Coupon Spectacular          135
Price Smashers              135
Super Wallet Savers         135
Green Light Special         125
Double Your Savings          67
Fantastic Discounts          58
Name: count, dtype: int64

In [12]:
df['Store Kind'].value_counts()

Store Kind
Supermarket      8631
Deluxe           7542
Gourmet          2154
Mid-Size          971
Small Grocery     616
Name: count, dtype: int64

In [13]:
def Millions_to_numeric(value):
    numeric_part=value.replace('Millions','').strip()
    return float(numeric_part)*1000000

In [14]:
df['Store Sales']=df['Store Sales'].apply(Millions_to_numeric)

In [15]:
df['Store Cost']=df['Store Cost'].apply(Millions_to_numeric)

In [16]:
Sales_mean=df['Store Sales'].mean()
Sales_mean

6550783.772941531

In [17]:
def promotion_based_on_sales(sales):
    if(sales>Sales_mean):
        return('Top-Tier Discounts')
    else:
        return ('Thrifty Deals')

In [18]:
def promotion_name_replacement(row):
    if pd.isnull(row['Promotion Name']):
        return promotion_based_on_sales(row['Store Sales'])
    else:
        return row['Promotion Name']

In [19]:
df['Promotion Name']=df.apply(promotion_name_replacement,axis=1)

In [20]:
df['Promotion Name'].value_counts()

Promotion Name
Two Day Sale                774
Weekend Discount            761
Save Price                  711
Super Duper Savers          685
Price Winners               665
Save It (Sale)              650
One Day Sale                614
Super Savers                605
Sale : Double Down          577
Shelf Clearing Days         568
Full Free                   548
GLD                         521
Big Time Discounts          521
Go For It                   521
Roller Savings (High)       520
Money Savers                518
Two for One                 513
Price Slashers              512
Lottery Cash Registerion    502
Price Destroyers            474
Budget Bargains             456
Saving Days                 450
Promo Big                   409
Best Price Savers           403
Dimes Off                   400
Discount Frenzy             392
Price Cutters               374
Sales Days                  372
Bag Stuffer                 361
Three for One               356
Savings Galore              353
You Save Days               344
I Cant Believe It Sale      331
Best Savings                315
Sale Winners                307
Pick Your Savings           291
Tip Top Savings             267
Sale Sale Sale              266
Shelf Emptiers              261
Big Time Saving             252
Wallet Savers               208
Dollar Days                 174
Mystery Sale                159
Coupon Spectacular          135
Price Smashers              135
Super Wallet Savers         135
Green Light Special         125
Double Your Savings          67
Fantastic Discounts          58
Top-Tier Discounts           15
Thrifty Deals                11
Name: count, dtype: int64

In [21]:
df['Store Kind'].value_counts()

Store Kind
Supermarket      8631
Deluxe           7542
Gourmet          2154
Mid-Size          971
Small Grocery     616
Name: count, dtype: int64

In [22]:
df['Store Kind'].isnull().sum()

28

In [23]:
df_non_null = df.dropna(subset=['Store Kind'])
avg_sales_by_kind = df_non_null.groupby('Store Kind')['Store Sales'].mean()
avg_sales_by_kind

Store Kind
Deluxe           6.692869e+06
Gourmet          6.556708e+06
Mid-Size         6.629701e+06
Small Grocery    3.289659e+06
Supermarket      6.649589e+06
Name: Store Sales, dtype: float64

In [24]:
def store_kind_replacement(row):
    if pd.isna(row['Store Kind']):
        differences=avg_sales_by_kind-row['Store Sales']
        closest_kind=differences.abs().idxmin()
        return closest_kind
    return row['Store Kind']

In [25]:
df['Store Kind']=df.apply(store_kind_replacement,axis=1)

In [26]:
df['Store Kind'].isnull().sum()

0

In [27]:
df['Store Kind'].value_counts()

Store Kind
Supermarket      8631
Deluxe           7554
Gourmet          2159
Mid-Size          971
Small Grocery     627
Name: count, dtype: int64

In [28]:
avg_weight_by_kind=df.groupby('Store Kind').agg({'Gross Weight':'mean','Net Weight':'mean'})

In [29]:
def weight_replacement(row):
    if pd.isnull(row['Gross Weight']):
        row['Gross Weight']=avg_weight_by_kind.loc[row['Store Kind'],'Gross Weight']
    if pd.isnull(row['Net Weight']):
        row['Net Weight']=avg_weight_by_kind.loc[row['Store Kind'],'Net Weight']
    return row

In [30]:
df=df.apply(weight_replacement,axis=1)

In [31]:
df[['Gross Weight','Net Weight']].isnull().sum()

Gross Weight    0
Net Weight      0
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19942 entries, 0 to 19941
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Person Description             19942 non-null  object
 1   Place Code                     19942 non-null  object
 2   Customer Order                 19942 non-null  object
 3   Additional Features in market  19942 non-null  object
 4   Promotion Name                 19942 non-null  object
 5   Store Kind                     19942 non-null  object
 6   Store Sales                    19942 non-null  float64
 7   Store Cost                     19942 non-null  float64
 8   Gross Weight                   19942 non-null  float64
 9   Net Weight                     19942 non-null  float64
 10  Package Weight                 19942 non-null  float64
 11  Is Recyclable?                 19942 non-null  object
 12  Yearly Income                  19942 non-null  object
 13  Store Area                     18946 non-null  float64
 14  Grocery Area                   18900 non-null  float64
 15  Frozen Area                    18981 non-null  float64
 16  Meat Area                      18967 non-null  float64
dtypes: float64(9), object(8)
memory usage: 2.7+ MB

In [33]:
avg_area_by_kind=df.groupby('Store Kind').agg({'Store Area':'mean','Grocery Area':'mean','Frozen Area':'mean','Meat Area':'mean'})

In [34]:
def area_replacement(row):
    if pd.isnull(row['Store Area']):
        row['Store Area']=avg_area_by_kind.loc[row['Store Kind'],'Store Area']
    if pd.isnull(row['Grocery Area']):
        row['Grocery Area']=avg_area_by_kind.loc[row['Store Kind'],'Grocery Area']    
    if pd.isnull(row['Frozen Area']):
        row['Frozen Area']=avg_area_by_kind.loc[row['Store Kind'],'Frozen Area']
    if pd.isnull(row['Meat Area']):
        row['Meat Area']=avg_area_by_kind.loc[row['Store Kind'],'Meat Area']
    return row

In [35]:
df=df.apply(area_replacement,axis=1)

In [36]:
df.isnull().sum()

Person Description               0
Place Code                       0
Customer Order                   0
Additional Features in market    0
Promotion Name                   0
Store Kind                       0
Store Sales                      0
Store Cost                       0
Gross Weight                     0
Net Weight                       0
Package Weight                   0
Is Recyclable?                   0
Yearly Income                    0
Store Area                       0
Grocery Area                     0
Frozen Area                      0
Meat Area                        0
dtype: int64

In [37]:
df[df.duplicated()]

Empty DataFrame
Columns: [Person Description, Place Code, Customer Order, Additional Features in market, Promotion Name, Store Kind, Store Sales, Store Cost, Gross Weight, Net Weight, Package Weight, Is Recyclable?, Yearly Income, Store Area, Grocery Area, Frozen Area, Meat Area]
Index: []

In [38]:
df['Is Recyclable?']=df['Is Recyclable?'].replace({'yes':1,'no':0})
df['Is Recyclable?']=df['Is Recyclable?'].astype('category')

C:\Users\Huawei\AppData\Local\Temp\ipykernel_1304\735794476.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Is Recyclable?']=df['Is Recyclable?'].replace({'yes':1,'no':0})

In [39]:
def income_to_numeric(val):
    if isinstance(val,(int,float)):
        return float(val)
    else:    
        numeric_part=val.replace('K+','').strip()
        return float(numeric_part)*1000

In [40]:
df['Yearly Income']=df['Yearly Income'].apply(income_to_numeric)

In [41]:
df

,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Package Weight,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area
Person_ID,,,,,,,,,,,,,,,,,
0,"Single Male with four children, education: partial high school working as skilled manual",B06ls_CA,"Candy from Snacks department, Ordered Brand : Gulf Coast","['Florist', 'Ready Food', 'Video Store', 'Bar For Salad', 'Coffee Bar']",Fantastic Discounts,Gourmet,11760000.0,4704000.0,31.8337,28.7811,3.0525,1,50000.0,2201.06,1424.850000,465.54,308.73
1,"Married Female with three children, education: graduate degree working as professional",S01em_OR,"Vegetables from Frozen Foods department, Ordered Brand : Golden","['Florist', 'Coffee Bar', 'Ready Food', 'Bar For Salad', 'Video Store']",Bag Stuffer,Deluxe,2160000.0,669600.0,29.9440,27.0368,2.9072,0,70000.0,2577.16,1735.170000,505.07,336.59
2,"Single Female with three children, education: partial high school working as management",H11go_ZA,"Dairy from Dairy department, Ordered Brand : Club","['Bar For Salad', 'Video Store', 'Ready Food', 'Coffee Bar', 'Florist']",Pick Your Savings,Deluxe,1830000.0,823500.0,29.2172,26.3100,2.9072,0,130000.0,2837.58,2038.110000,481.98,321.26
3,"Single Male with three children, education: partial high school working as manual",M10da_YU,"Frozen Desserts from Frozen Foods department, Ordered Brand : Imagine","['Coffee Bar', 'Video Store', 'Bar For Salad', 'Ready Food', 'Florist']",Price Winners,Deluxe,8820000.0,4410000.0,28.0543,25.0018,3.0525,0,10000.0,2859.04,1871.160000,593.93,394.58
4,"Single Male with two children, education: high school degree working as manual",L05es_CA,"Hot Beverages from Beverages department, Ordered Brand : BBB Best",['Florist'],Dollar Days,Supermarket,4320000.0,1987200.0,23.5482,20.6410,2.9072,0,30000.0,2193.97,1320.150000,523.32,348.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19937,"Married Female with two children, education: partial high school working as manual",H11go_ZA,"Canned Clams from Canned Foods department, Ordered Brand : Just Right","['Florist', 'Bar For Salad', 'Ready Food', 'Coffee Bar', 'Video Store']",Two for One,Deluxe,4460000.0,1962400.0,11.1200,8.2128,2.9072,0,10000.0,2839.33,2038.110000,481.98,321.26
19938,"Married Female with one child, education: partial high school working as skilled manual",S03le_WA,"Bread from Baked Goods department, Ordered Brand : Modell",['Coffee Bar'],Best Price Savers,Supermarket,3810000.0,1333500.0,20.6410,17.5885,3.0525,0,10000.0,1970.94,1723.273521,440.92,295.66
19939,"Married Female with five children, education: bachelors degree working as management",G16ra_JA,"Baking Goods from Baking Goods department, Ordered Brand : Landslide",['Coffee Bar'],Best Savings,Small Grocery,2140000.0,749000.0,23.1121,20.0596,3.0525,1,50000.0,2288.65,1394.660000,534.29,355.98
19940,"Single Male with one child, education: graduate degree working as professional",S01em_OR,"Specialty from Produce department, Ordered Brand : Hermanos","['Ready Food', 'Florist', 'Video Store', 'Bar For Salad', 'Coffee Bar']",Bag Stuffer,Deluxe,3520000.0,1161600.0,16.2802,13.3585,2.9217,1,70000.0,2572.86,1734.500000,503.07,335.38
19941,"Married Female with two children, education: high school degree working as manual",T02ma_WA,"Electrical from Household department, Ordered Brand : High Quality","['Ready Food', 'Bar For Salad', 'Florist', 'Coffee Bar']",Super Duper Savers,Deluxe,4620000.0,1663200.0,30.2347,27.1822,3.0525,0,30000.0,3145.51,2054.280000,654.13,436.09

In [42]:
df['Customer Order']

Person_ID
0                     Candy from Snacks department, Ordered Brand : Gulf Coast
1              Vegetables from Frozen Foods department, Ordered Brand : Golden
2                            Dairy from Dairy department, Ordered Brand : Club
3        Frozen Desserts from Frozen Foods department, Ordered Brand : Imagine
4            Hot Beverages from Beverages department, Ordered Brand : BBB Best
                                         ...
19937    Canned Clams from Canned Foods department, Ordered Brand : Just Right
19938                Bread from Baked Goods department, Ordered Brand : Modell
19939     Baking Goods from Baking Goods department, Ordered Brand : Landslide
19940              Specialty from Produce department, Ordered Brand : Hermanos
19941       Electrical from Household department, Ordered Brand : High Quality
Name: Customer Order, Length: 19942, dtype: object

In [43]:
df['Category']=df['Customer Order'].str.extract(r'^(.*?)(?= from)')
df['Department']=df['Customer Order'].str.extract(r'from (.*?)(?= department)')
df['Brand']=df['Customer Order'].str.extract(r'Ordered Brand : (.*)')

In [44]:
df=df.drop(columns='Customer Order')

In [45]:
df['Person Description']

Person_ID
0        Single Male with four children, education: partial high school working as skilled manual
1          Married Female with three children, education: graduate degree working as professional
2         Single Female with three children, education: partial high school working as management
3               Single Male with three children, education: partial high school working as manual
4                  Single Male with two children, education: high school degree working as manual
                                                   ...
19937          Married Female with two children, education: partial high school working as manual
19938     Married Female with one child, education: partial high school working as skilled manual
19939        Married Female with five children, education: bachelors degree working as management
19940              Single Male with one child, education: graduate degree working as professional
19941           Married Female with two children, education: high school degree working as manual
Name: Person Description, Length: 19942, dtype: object

In [46]:
df['Gender'] = df['Person Description'].str.extract(r'(Female|Male)')
df['Number of Children'] = df['Person Description'].str.extract(r'with (.*?) (?:child|children)')
df['Education Level'] = df['Person Description'].str.extract(r'education: (.*?)(?= working)')
df['Occupation'] = df['Person Description'].str.extract(r'working as (.*)')

In [47]:
 df=df.drop(columns='Person Description')

In [48]:
num_mapping={'one':1,'two':2,'three':3,'four':4,'five':5,'No':0}

In [49]:
df['Number of Children']=df['Number of Children'].replace(num_mapping)

C:\Users\Huawei\AppData\Local\Temp\ipykernel_1304\1696051478.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Number of Children']=df['Number of Children'].replace(num_mapping)

In [50]:
df['Place Code'].head(50)

Person_ID
0     B06ls_CA
1     S01em_OR
2     H11go_ZA
3     M10da_YU
4     L05es_CA
5     M10da_YU
6     S01em_OR
7     S03le_WA
8     C15ho_ZA
9     V13er_BC
10    G16ra_JA
11    V13er_BC
12    M12ty_DF
13    T02ma_WA
14    B06ls_CA
15    L05es_CA
16    M10da_YU
17    S01em_OR
18    H11go_ZA
19    B08am_WA
20    S18co_CA
21    P07nd_OR
22    S04ne_WA
23    S03le_WA
24    S04ne_WA
25    H11go_ZA
26    B08am_WA
27    B06ls_CA
28    T02ma_WA
29    P07nd_OR
30    B14on_WA
31    H11go_ZA
32    O09ba_VE
33    C15ho_ZA
34    S01em_OR
35    V13er_BC
36    S01em_OR
37    M10da_YU
38    S04ne_WA
39    M10da_YU
40    P07nd_OR
41    H11go_ZA
42    V13er_BC
43    S18co_CA
44    V13er_BC
45    V13er_BC
46    M10da_YU
47    T02ma_WA
48    P07nd_OR
49    S01em_OR
Name: Place Code, dtype: object

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19942 entries, 0 to 19941
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Place Code                     19942 non-null  object
 1   Additional Features in market  19942 non-null  object
 2   Promotion Name                 19942 non-null  object
 3   Store Kind                     19942 non-null  object
 4   Store Sales                    19942 non-null  float64
 5   Store Cost                     19942 non-null  float64
 6   Gross Weight                   19942 non-null  float64
 7   Net Weight                     19942 non-null  float64
 8   Package Weight                 19942 non-null  float64
 9   Is Recyclable?                 19942 non-null  category
 10  Yearly Income                  19942 non-null  float64
 11  Store Area                     19942 non-null  float64
 12  Grocery Area                   19942 non-null  float64
 13  Frozen Area                    19942 non-null  float64
 14  Meat Area                      19942 non-null  float64
 15  Category                       19942 non-null  object
 16  Department                     19942 non-null  object
 17  Brand                          19942 non-null  object
 18  Gender                         19942 non-null  object
 19  Number of Children             19942 non-null  int64
 20  Education Level                19942 non-null  object
 21  Occupation                     19942 non-null  object
dtypes: category(1), float64(10), int64(1), object(10)
memory usage: 3.4+ MB

In [52]:
df.columns

Index(['Place Code', 'Additional Features in market', 'Promotion Name',
       'Store Kind', 'Store Sales', 'Store Cost', 'Gross Weight', 'Net Weight',
       'Package Weight', 'Is Recyclable?', 'Yearly Income', 'Store Area',
       'Grocery Area', 'Frozen Area', 'Meat Area', 'Category', 'Department',
       'Brand', 'Gender', 'Number of Children', 'Education Level',
       'Occupation'],
      dtype='object')

In [53]:
new_order=['Gender','Number of Children','Education Level','Occupation','Place Code','Category','Department','Brand','Additional Features in market','Promotion Name','Store Kind','Store Sales','Store Cost','Gross Weight', 'Net Weight',
       'Package Weight', 'Is Recyclable?', 'Yearly Income', 'Store Area',
       'Grocery Area', 'Frozen Area', 'Meat Area']

In [54]:
df=df[new_order]

In [55]:
df.shape

(19942, 22)

In [56]:
pd.set_option('display.max_columns',22)

In [ ]:
df

In [60]:
df['Place Code'].value_counts()

Place Code
T02ma_WA    1903
S01em_OR    1787
P07nd_OR    1726
S03le_WA    1676
H11go_ZA    1587
M10da_YU    1464
S04ne_WA    1455
B06ls_CA    1363
L05es_CA    1277
B14on_WA    1169
V13er_BC    1101
O09ba_VE     879
C15ho_ZA     793
M12ty_DF     473
A17co_GU     463
S18co_CA     264
B08am_WA     215
V19ia_BC     210
G16ra_JA     137
Name: count, dtype: int64

In [62]:
df

,Gender,Number of Children,Education Level,Occupation,Place Code,Category,Department,Brand,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Gross Weight,Net Weight,Package Weight,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area
Person_ID,,,,,,,,,,,,,,,,,,,,,,
0,Male,4,partial high school,skilled manual,B06ls_CA,Candy,Snacks,Gulf Coast,"['Florist', 'Ready Food', 'Video Store', 'Bar For Salad', 'Coffee Bar']",Fantastic Discounts,Gourmet,11760000.0,4704000.0,31.8337,28.7811,3.0525,1,50000.0,2201.06,1424.850000,465.54,308.73
1,Female,3,graduate degree,professional,S01em_OR,Vegetables,Frozen Foods,Golden,"['Florist', 'Coffee Bar', 'Ready Food', 'Bar For Salad', 'Video Store']",Bag Stuffer,Deluxe,2160000.0,669600.0,29.9440,27.0368,2.9072,0,70000.0,2577.16,1735.170000,505.07,336.59
2,Female,3,partial high school,management,H11go_ZA,Dairy,Dairy,Club,"['Bar For Salad', 'Video Store', 'Ready Food', 'Coffee Bar', 'Florist']",Pick Your Savings,Deluxe,1830000.0,823500.0,29.2172,26.3100,2.9072,0,130000.0,2837.58,2038.110000,481.98,321.26
3,Male,3,partial high school,manual,M10da_YU,Frozen Desserts,Frozen Foods,Imagine,"['Coffee Bar', 'Video Store', 'Bar For Salad', 'Ready Food', 'Florist']",Price Winners,Deluxe,8820000.0,4410000.0,28.0543,25.0018,3.0525,0,10000.0,2859.04,1871.160000,593.93,394.58
4,Male,2,high school degree,manual,L05es_CA,Hot Beverages,Beverages,BBB Best,['Florist'],Dollar Days,Supermarket,4320000.0,1987200.0,23.5482,20.6410,2.9072,0,30000.0,2193.97,1320.150000,523.32,348.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19937,Female,2,partial high school,manual,H11go_ZA,Canned Clams,Canned Foods,Just Right,"['Florist', 'Bar For Salad', 'Ready Food', 'Coffee Bar', 'Video Store']",Two for One,Deluxe,4460000.0,1962400.0,11.1200,8.2128,2.9072,0,10000.0,2839.33,2038.110000,481.98,321.26
19938,Female,1,partial high school,skilled manual,S03le_WA,Bread,Baked Goods,Modell,['Coffee Bar'],Best Price Savers,Supermarket,3810000.0,1333500.0,20.6410,17.5885,3.0525,0,10000.0,1970.94,1723.273521,440.92,295.66
19939,Female,5,bachelors degree,management,G16ra_JA,Baking Goods,Baking Goods,Landslide,['Coffee Bar'],Best Savings,Small Grocery,2140000.0,749000.0,23.1121,20.0596,3.0525,1,50000.0,2288.65,1394.660000,534.29,355.98
19940,Male,1,graduate degree,professional,S01em_OR,Specialty,Produce,Hermanos,"['Ready Food', 'Florist', 'Video Store', 'Bar For Salad', 'Coffee Bar']",Bag Stuffer,Deluxe,3520000.0,1161600.0,16.2802,13.3585,2.9217,1,70000.0,2572.86,1734.500000,503.07,335.38
19941,Female,2,high school degree,manual,T02ma_WA,Electrical,Household,High Quality,"['Ready Food', 'Bar For Salad', 'Florist', 'Coffee Bar']",Super Duper Savers,Deluxe,4620000.0,1663200.0,30.2347,27.1822,3.0525,0,30000.0,3145.51,2054.280000,654.13,436.09